@page
@model TennisFinalGrp339.Areas.Identity.Pages.Account.RegisterConfirmationModel
@{
    ViewData["Title"] = "Register Confirmation";
}

<h1>@ViewData["Title"]</h1>

<p>
    Thank you for registering as a @Model.UserRole.ToLower()!
    A confirmation email has been sent to @Model.Email.
</p>

<p>
    Since this is a test environment, please confirm your account by clicking the link below:
</p>

<p>
    <a href="@Model.ConfirmationLink">Confirm your email</a>
</p>
